/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

/* ####### */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 80px;
  margin-bottom: 40px;
  height: 39px;
  width: 90px;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #969696;
  margin-bottom: 16px;
}

span {
  color: #15202a;
  font-weight: 700;
}

p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #15202a;
  margin-bottom: 40px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 94px;
}

form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 56px;
  width: 50%;
  display: flex;
}

.email {
  background: #ffffff;
  border: 1px solid #c2d3ff;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.0001);
  border-radius: 28px;
  width: 421px;
  padding-left: 30px;
}

.email:focus {
  border: 2px solid #a7bffc;
  outline: none;
}

::placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #b8c7ed;
}

.notify {
  background: #4c7bf3;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
  border-radius: 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  padding: 19px 62px;
  border: none;
  cursor: pointer;
  margin-left: 16px;
}

.notify:hover {
  background: #7a9ae9;
}

.dashboard {
  max-width: 640px;
  margin-bottom: 72px;
}

footer {
  text-align: center;
  padding-bottom: 49px;
}

footer p {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #969696;
  margin-top: 19px;
}

i {
  color: #4c7bf3;
  margin-left: 9px;
}
/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  .logo {
    width: 56px;
    margin-bottom: 32px;
  }

  p {
    font-size: 12px;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .email {
    width: 281px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .notify {
    font-size: 12px;
    padding: 12px;
    width: 282px;
    margin-left: 0;
  }

  h1 {
    font-size: 22px;
  }

  .dashboard {
    width: 320px;
  }

}
